div#menuinterativo{
    text-align: center;
    padding: 50px;
}
input#bt1{
    width: 10px;
    height: 150px;
}
input#bt2{
    width: 100px;
    height: 150px;
}
input#bt3{
    width: 100px;
    height: 150px;
}
input#bt4{
    width: 100px;
    height: 150px;
}