body{
    text-align: center;
}
button#btsair{
    text-align: end;
    background-color: rgb(39, 184, 66);
    color: white;
    font-size: 20px;
    border: 0px;
    width: 100%;
    border-radius: 10px;
}
img#navbar_logo{
    text-align: center;
}
div#apz{
    text-align: center;
}
div.feed{
    padding: 10px 300px;
}
div.perfil{
    text-align: center;
    padding: 15px;
}
img.foto_user{
    width: 150px;
    
}
div.postador{
    padding: 10px 300px;
}
div.bt_post{
    text-align: center;
    padding: 10px;
}
th.titulo_post{
    background-color: brown;
}
div.insta{
    text-align: center;
}
footer.rodape{

}
